
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../content/theme/variables.less";
@import "../../content/theme/mixins.less";

.container{

}
.header{
  box-sizing:border-box;
  height:140px;
  padding:5px @grid-gutter-width 5px @grid-gutter-width;

  display:flex;
  align-items:flex-end;

  background-image: linear-gradient(to top, #f5f7fa 0%, #c3cfe2 100%);
  border-bottom: 1px solid @brand-primary;
}
.title{
}
.content{
  padding:20px @grid-gutter-width 60px @grid-gutter-width;
}