
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../content/theme/variables.less";
@import "../../content/theme/mixins.less";

.container{

}
.header{
  box-sizing:border-box;
  height:100px;
  padding:5px @grid-gutter-width 5px @grid-gutter-width;

  display:flex;
  align-items:flex-end;

  //background-image: linear-gradient(to top, #f5f7fa 0%, #c3cfe2 100%);
   background-image: linear-gradient(to top, @brand-primary 0%, lighten(@brand-primary, 5%) 100%);
  //background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
  border-bottom: 1px solid #ccc;
}
.title{
  color: lighten(@brand-primary, 60%);
}
.content{
  padding:20px @grid-gutter-width 60px @grid-gutter-width;
}