
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../content/theme/variables.less";
@import "../../content/theme/mixins.less";

.container{

}
.header{
  box-sizing:border-box;
  height:80px;
  padding:5px 20px 5px 20px;

  border-bottom:1px solid @gray-lighter;
  background-color:rgba(0,0,0,0.6);
}
.title{
  color:rgba(255,255,255, 0.85);
}
.content{
  padding:20px 20px 60px 20px;
}