
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../content/theme/variables.less";
@import "../../content/theme/mixins.less";


.footer {
  min-width:100%;
  padding: 2rem;
  font-size: 1rem;

  background-image: linear-gradient(to bottom, darken(@navbar-default-bg, 10%) 0%, @navbar-default-bg 100%);
  //background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
  border-top: 1px solid darken(#ddd, 5%);

  text-align: center;
}

.link{
  text-decoration: underline;
}