
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../content/theme/variables.less";
@import "../../content/theme/mixins.less";


.footer {
  min-width:100%;
  padding: 1rem;
  font-size: 1rem;
  
  background-color:@footer-bg;
  text-align: center;
  color: @footer-color;
}

.link{
  color: @footer-color;
  text-decoration: underline;
}