
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../content/theme/variables.less";
@import "../../content/theme/mixins.less";

.header {
  display: flex;
  align-items: stretch;
  
  box-sizing:border-box;
  height:60px;
  min-width:100%;
  padding:0 20px;

  background-color: rgba(0,0,0,0.85);
  color:rgba(255,255,255,0.85);
}

:global(.headroom--pinned){
  margin-left:40px;
  width:~"calc(100% - 40px)";
}
:global(.headroom--scrolled){
  margin-left:40px;
  width:~"calc(100% - 40px)";
}

.searchContainer{
  width:400px;
  display:flex;
  align-items: center;
  form > div {
    margin:0;
  }
}

.globalToolsContainer{
  flex:1;
  display:flex;
  justify-content: flex-end;
  align-items:center;
}

.globalToolList{
  list-style:none;
  padding:0;
  margin:10px;
  display:flex;
}

.globalToolListItem{
  margin:0;
  padding:0;
  width:34px;
  height:34px;
}

.globalToolListItem + .globalToolListItem{
  margin-left:5px;
}

.tool{
  color:@navbar-inverse-link-color;
  text-decoration:none;
  font-size:@font-size-large;
  display:block;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content: center;
}

.tool:hover{
  color:@navbar-inverse-link-hover-color;
  text-decoration:none;
}

.avatar{
  width:40px;
  height:40px;
  background-color:#555;
  background-image:url(../../content/images/avatars/2.jpg);
  background-size: cover;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
  :global(.headroom--pinned){
    margin-left:40px;
    width:~"calc(100% - 40px)";
  }
  :global(.headroom--scrolled){
    margin-left:40px;
    width:~"calc(100% - 40px)";
  }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
  :global(.headroom--pinned){
    margin-left:210px;
    width:~"calc(100% - 210px)";
  }
  :global(.headroom--scrolled){
    margin-left:210px;
    width:~"calc(100% - 210px)";
  }
 }
